html,body,div,span,iframe,h1,h2,h3,h4,p,pre,del,em,img,b,i,dl,dt,dd,ol,ul,li,form,table,tbody,tr,th,td,article,aside,footer,header,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box}
article,aside,footer,header,nav,section{display:block}
body{line-height:1;overflow-wrap:break-word;word-wrap:break-word}
input,textarea,select{font-family:inherit;font-size:inherit;color:inherit;vertical-align:middle;box-sizing:border-box}
a{margin:0;padding:0;text-decoration:none;outline:none;font-size:100%;vertical-align:baseline;background:transparent}
a img{border-style:none}
ul,li{list-style-type:none}
.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}

/* ===================================
背景,文字,リンク設定
=================================== */
html{
font-size:62.5%;
position:relative;
min-height:100%
}
body{
background:#fff;/* 背景 */
color:#000;/* 文字色 */
font-size:1.3em;/* 文字の大きさ */
font-family:'Dosis','Segoe UI','游ゴシック Medium','Yu Gothic Medium','游ゴシック体',YuGothic,'Hiragino Kaku Gothic ProN','メイリオ',Meiryo,sans-serif;
letter-spacing:.1em;
line-height:1.5;
text-align:center;
padding-left:250px;/* (※1)#leftcolumnのwidthと同じ */
height:100%
}
/*  リンク
------------------------------ */
a{
color:inherit
}
#rightcolumn a:not(.bg-none),aside a:not(.bg-none){
color:#68c6c6;
display:inline-block;
margin:3px 3px 3px 0;
border-bottom:1px solid #ccc
}

/* ===================================
基本
=================================== */

#wrapper{
position:relative;
text-align:left;
min-height:100%
}
header{
background:#fff;
border-bottom:double 3px #000;
padding:10px 20px;
position:fixed;
text-align:right;
top:0;left:0;
min-height:100px;
width:100%;
z-index:20
}
#contents{
width:100%
}
#leftcolumn{
background:#fff;
border-right:double 3px #000;
float:left;
position:fixed;
height:100%;
width:250px; /* (※1) */
bottom:60px; /* footerの高さ */
left:0;
z-index:10
}
#leftcolumn-inner{
padding:10px 20px;
height:99%;
overflow-y:auto;
-webkit-overflow-scrolling: touch
}
aside{
padding:20px 0
}
#rightcolumn{
width:100%
}
#rightcolumn-inner{
padding:10px 20px
}
footer{
background:#fff;
border-top:double 3px #000;
padding:10px 20px;
position:fixed;
text-align:center;
bottom:0;left:0;
width:100%;
min-height:60px;
z-index:10
}
/*  index
------------------------------ */
#index{
margin:20px;
padding:0;
height:auto
}

/* ===================================
メニュー
=================================== */

#menu{
display:block;
font-size:2em;
font-weight:700;
margin:20px 0
}
nav li a,nav li span{
border-radius:0;
color:#000;/* メニューの文字色 */
display:block;
margin:0;
padding:5px 0;/* 一列の高さはここで調節 */
position:relative
}
nav li a:hover,nav li span:hover{
background:#68c6c6;
border-radius:5px;
transition:.6s
}
.sub-menu{
display:none;
overflow:hidden
}
.sub-menu li a{
color:#666;
text-indent:.5em
}
/*  メニューの「>」
------------------------------ */
nav li span:after{
border-top:2px solid #000; /* 色 */
border-right:2px solid #000; /* 色 */
content:"";
display:block;
margin-top:-5px;
position:absolute;
height:5px;width:5px;
top:50%;right:10px;
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
transition:.2s
}
nav li span.open:after{
-ms-transform:rotate(135deg);
-webkit-transform:rotate(135deg);
transform:rotate(135deg)
}
/*  メニューを開くボタン非表示
------------------------------ */
#open{display:none}

/* ===================================
ページ上部へのリンク、著作権表示
=================================== */

#pagetop{
background:rgba(255,255,255,.6);
border:3px double #68c6c6;
border-radius:30px;
text-align:center;
position:fixed;
bottom:20px;right:20px;
height:40px;width:40px;
z-index:50
}
.arrow{
border-left:2px solid #000;
border-top:2px solid #000;
position:absolute;
top:40%;left:30%;
height:14px;width:14px;
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
z-index:60
}

/* ===================================
見出し、枠、線
=================================== */

h1{
font-size:2em;
line-height:1;
margin:0 0 .3em
}
h2{
font-size:1.7em;
position:relative;
margin:20px 0
}
h2 span{
background:#fff;
display:inline-block;
position:relative;
z-index:2
}
h2 span:first-letter{
color:#68c6c6
}
h2::before{
background-color:#000;
position:absolute;
display:block;
top:50%;
width:100%;height:1px;
z-index:1;
content:''
}
h3{
border-bottom:1px dashed;
margin:20px 0
}
dt{
color:#68c6c6;
clear:both;
font-weight:700;
float:left;
margin:0 0 5px;
width:10em
}
dd{
border-bottom:1px solid #000;
margin:0 0 5px 12em
}
#leftcolumn dt{
float:none;
clear:none
}
#leftcolumn dd{
margin-left:2em
}
em{
font-style:normal;
font-weight:700
}
input,textarea{
border:1px solid;
margin:3px 0;
width:250px
}
textarea{
height:50px
}
#leftcolumn input,#leftcolumn textarea{
width:100%
}
height:50px
}
hr{
border:0;
border-top:1px solid #ccc;
display:block;
margin:1em 0;
padding:0;
height:1px
}
.marker{
background:#68c6c6;
background:-webkit-linear-gradient(rgba(104,198,198,0) 80%, #68c6c6 0%);
background:linear-gradient(rgba(104,198,198,0) 80%, #68c6c6 0%)
}
.dcline{
border-left:5px solid #68c6c6;
margin:5px 0;
padding:3px
}
.textbox{
border:1px solid;
margin:10px 0;
padding:3px;
text-align:center
}
.title{
color:#68c6c6;
font-size:1.5em;
font-weight:700;
margin:2em 0;
text-align:right
}
.txt{
border-left:1px dotted #999;
color:#999;
margin:1em;
padding:0 0 0 1em
}
.frame{
background:#fff;
border-radius:3px;
box-shadow:3px 3px 3px #ccc;
padding:6px
}

/* ===================================
スマホ、タブレット用
横幅600pxで切り替え
=================================== */

@media screen and (max-width: 600px){
body{
font-size:1.4em;
padding:0
}
#contents{
padding:10px 20px
}
#rightcolumn-inner{
padding:10px 0
}
#leftcolumn-inner{
padding:0 10px
}
#rightcolumn a:not(.bg-none){
color:#000;
background:#68c6c6;
border-radius:3px;
margin:3px 3px 3px 0;
padding:2px;
border-bottom:0
}
html{height:100%}
header{position:static}
h1{min-height:40px;margin-left:50px}/* メニューを開くボタン分 */
#index h1{min-height:inherit;margin-left:0}
#rightcolumn{float:none;margin:0;width:100%}
#leftcolumn{border:0;float:none}
footer{position:absolute;min-width:100%}
dt{float:none;clear:none}
dd{margin-left:2em}
img{max-width:100%;height:auto}/* 画像の縮小表示 */

/* ===================================
スマホ、タブレット用メニュー
=================================== */

/*  スライド
------------------------------ */
#leftcolumn{
background:rgba(0,0,0,.9);/* 背景色 */
color:#fff;
display:none;
padding:50px 20px 20px; /* ボタン分上を空ける */
position:fixed;
line-height:1.7;
height:100%;width:300px;
top:0;right:0;
z-index:1000
}
#side-bg{
background:rgba(51,51,51,.5)/* 周りの背景色 */
}
/*  メニュー
------------------------------ */
#menu{
font-size:1.5em
}
nav li a,nav li span,.sub-menu li a{
color:#fff
}
nav ul > li{
border-bottom:1px solid #999
}
nav ul > li:first-child{
border-top:1px solid #999
}
.sub-menu li,.sub-menu li:first-child{
border:0
}
/*  メニューの「>」
------------------------------ */
nav li span:after{
border-top:2px solid #fff; /* 色 */
border-right:2px solid #fff; /* 色 */
}
/*  サブメニューを2列にするなら、/＊ ＊/を外して使用
------------------------------ */
/* .sub-menu li{
display:inline-block;
width:50%
}  */
/*  メニューを開くボタン
------------------------------ */
#open{
border-radius:20px;
display:inline-block;
position:absolute;
height:40px;width:40px; /* 大きさ */
top:10px;left:20px; /* 位置 */
z-index:1001
}
#leftcolumn-inner{height:100%;overflow:auto;-webkit-overflow-scrolling:touch}
#side-bg{display:none;position:fixed;height:100%;width:100%;top:0;left:0;z-index:999;cursor:pointer}
#open.buttonclose{position:fixed}
#open-icon,#open-icon:before,#open-icon:after{background:#000} /* 線の色 */
#open-icon{display:block;margin:-1px 0 0 -10px;position:absolute;top:50%;left:50%;height:2px;width:20px}
#open-icon:before,#open-icon:after{content:"";display:block;position:absolute;top:50%;left:0;height:2px;width:20px;transition:.3s}
#open-icon:before{margin-top:-8px}
#open-icon:after{margin-top:6px}
#open .close{background:transparent}
#open .close:before,#open .close:after{margin-top:0}
#open .close:before{-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);background:#fff}/* 開いた時の線の色 */
#open .close:after{-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);transform:rotate(-135deg);background:#fff}/* 開いた時の線の色 */
}
